/.idea/
*.iml

# Python artifacts
__pycache__/
*.pyc
*.pyo
/venv/   # Or the name of your virtual environment folder
/build/
/dist/
*.egg-info/

# Testcontainers (adjust as needed)
/testcontainers_logs/
/target/  # If Testcontainers stores data here

/venv/**
.DS_Store
fb.xml